.formulario__display {
  display: flex;
  flex-direction: column;
  align-items: center;
  container-type: inline-size;
}

.carousel__display {
  width: 60%;
  margin-top: 20px;
}

@container (max-width: 800px) {
  .carousel__display {
    width: 100%;
  }
}
