<header class="header">
        <div class="header_logo">
            <a href="/src/index.html"><img class="header__logo_img" src="./assets/images/logo.png" alt="Logo club de tennis"/></a>
        </div>
        <div class="header__navbar">
          <ul class="header__navbar_links">
            <li><a href="./participantes.html">Participantes</a></li>
            <li><a href="./informacion.html">Información</a></li>
            <li><a href="./formulario.html">Inscríbete</a></li>
          </ul>
        </div>
</header>