@use "sass:color";

/**** FONTS ****/
$font-poppins: "Poppins", sans-serif;
$font-lexend: 'Lexend', sans-serif;

/**** COLOURS ****/
$color-white: #ffffff;
$color-purple: #3739b4;
$color-light-purple: #e7d3ff;
$color-yellow: #fc9b0a;
$color-light-yellow: #ffeed5;
$color-grey: rgb(236, 236, 236);

/***** SIZES *****/
$font-xs: 0.5rem;
$font-s: 0.75rem;
$font-m: 1rem;
$font-l: 1.5rem;
$font-xl: 1.8rem;
$font-xxl: 2rem;
$font-xxxl: 4rem;

/**********************************/
/*    BOOTSRAP MODIFICATIONS      */
/**********************************/

/** BUTTON **/
$primary: $color-purple;
$btn-padding-x: 1.5rem;
$btn-padding-y: 1rem;

/** CARD **/
$card-box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
  0 2px 4px -1px rgba(0, 0, 0, 0.06);
$card-bg: $color-light-yellow;
$card-border-radius: 1.2rem;
$card-height: 450px;
$card-spacer-y: 1.5rem;
$card-spacer-x: 1.5rem;
